.containerTournements {
    display: grid;
    margin: 60px;
    grid-template-rows: repeat(2, minmax(300px, 450px));
    grid-template-columns: repeat(3, minmax(300px, 450px));
    grid-template-areas:
        'turnier1 turnier2 turnier3'
        'turnier4 turnier5 turnier6';
    justify-content: space-evenly;
    gap: 100px
}

#tournement1 {
    background-color: red;
    grid-area: turnier1
}

#tournement2 {
    background-color: royalblue;
    grid-area: turnier2
}

#tournement3 {
    background-color: green;
    grid-area: turnier3;
}

#tournement4 {
    background-color: yellow;
    grid-area: turnier4;
}

#tournement5 {
    background-color: purple;
    grid-area: turnier5;
}

#tournement6 {
    background-color: orange;
    grid-area: turnier6;
}
@media screen and (max-width: 900px){
    .containerTournements {
        margin: 50px;
        grid-template-rows: 6, minmax(300px, 450px);
        grid-template-columns: repeat(1, minmax(300px, 450px));
        grid-template-areas:
            'turnier1'
            'turnier2'
            'turnier3'
            'turnier4'
            'turnier5'
            'turnier6';
        gap: 50px
    }
}