*{
    --alice-blue: #d8ebfdff;
    --cornflower-blue: #7692ffff;
    --persian-blue: #1c2dc4ff;
    --yinmn-blue: #3d518cff;
    --oxford-blue: #081236ff;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: var(--alice-blue);
}
h1{
    font-size: 60px;
    font-family: Arial;
    text-align: center;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
header{
    padding: 10px;
}
.navbar ul{
    font-size: 15px;
    list-style-type: none;
    background-color: var(--yinmn-blue);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: var(--persian-blue);
}
.navbar li{
    float: left;
}
.dropdown button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    background-color: var(--yinmn-blue);
    border: none;
}
.dropdown a{
    display: block;
    color: white;
    background-color: var(--yinmn-blue);
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    min-width: 100px;
    box-shadow: 2px 2px 5px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: var(--persian-blue);
}
.content a{
    text-align: left;
}
.content a:hover{
    background-color: var(--persian-blue);
}
@media screen and (max-width: 900px){
    .navbar li{
        float: none;
    }
    .dropdown button{
        display: grid;  
        margin: auto;
    }
    .dropdown a{
        text-align: center;
    }
}
@media screen and (min-width: 900px){
    .dropdown .content{
        position: absolute;
    }
}
footer{
    color: white;
    clear: both;
    background-color: #081236ff;
    padding: 10px;
}